{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3>Trade History</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Route</th>
                    <th>Profit</th>
                    <th>Gas Cost</th>
                    <th>Net Profit</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="history-list">
                <!-- History will be inserted here -->
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
